# Unity 生成的缓存文件夹（不需要上传）
Library/
Temp/
Logs/
UserSettings/
Obj/
Build/
Builds/

# Visual Studio / Rider
.vs/
*.csproj
*.sln

# OS 文件
.DS_Store
Thumbs.db
# USV-Sim 子项目的缓存文件
USV-Sim/Library/
USV-Sim/Logs/
USV-Sim/UserSettings/
USV-Sim/Temp/